$padding-user: 20px;
$padding-header: 10px;
$width-user: 40%;
$color-decorative: #6ac;
$color-gray-900: #d9e0e8;
$color-gray-1000: #f2f5f7;
$height-user-header: 50px;
$height-user-container: 250px;
$height-user-search: 40px;
$height-chats: 100vh;
$syntax-fn: #00beff;
.chats {
  display: flex;
  justify-content: space-between;
  max-height: $height-chats;
  max-width: 950px;
  margin: 0 auto;
  &__user {
    flex-basis: $width-user;
    padding-left: $padding-user;
    padding-right: $padding-user;
    margin-top: 20px;
    max-height: $height-chats;
  }
  &__user__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-header;
    font-weight: bold;
    position: relative;
    height: $height-user-header;
    &__left {
      text-decoration: none;
      display: flex;
      align-items: center;
      &__icon {
        width: 50px;
      }
      & span {
        color: $color-decorative;
        font-size: 2rem;
        margin-left: 10px;
      }
    }
    &__right {
      &__image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
      }
    }
    &__right::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(0, 207, 69);
      display: block;
      position: absolute;
      bottom: $padding-header + 1px;
      right: $padding-header + 1px;
    }
  }
  &__user__container {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: $height-user-container;
    &__image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    &__username {
      font-weight: bold;
      font-size: 2.8rem;
      padding: 10px;
      color: $color-decorative;
    }
    &__setting {
      text-align: center;
    }
  }
  &__user__usermess {
    padding: 20px 0;
    height: calc(#{$height-chats} - 520px);
    overflow-y: scroll;
    &__title {
      font-size: 1.8rem;
      font-weight: 900;
      text-align: left;
      margin-left: 20px;
      padding-bottom: 20px;
    }
    &__singleuser {
      width: 90%;
      margin: 0 auto;
      border-radius: 20px;
    }
  }
  &__user__search {
    margin-top: 20px;
    height: $height-user-search;
    &__input {
      padding: 10px;
      width: 80%;
      padding: 10px;
      padding-left: 20px;
      border: 1px solid rgb(190, 190, 190);
      outline: none;
      border-radius: 10px;
    }
    &__input:focus {
      border-radius: 10px;
      border: 1px solid $color-decorative;
    }
  }
  &__message {
    background-color: $color-gray-900;
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
  }
  &__data {
    flex-basis: $width-user;
    height: 100vh;
  }
  // &__addgroup {
  //   background-color: rgba(0, 190, 255, 0.3);
  //   color: rgb(0, 190, 255);
  // }
}
.chats__user__usermess__addgroup {
  background-color: rgba(0, 190, 255, 0.1);
  color: rgb(0, 190, 255);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.chats .bordergray {
  background-color: $color-gray-1000;
  border-radius: 20px;
}
