$color-gray-900: #d9e0e8;
.chats__message {
  width: 100%;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;

  &__header {
  }
  &__header__image {
    & img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__header__name {
  }
  &__content {
  }
  &__feature {
  }
  &__inputmess {
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 5px;
    &__link {
      padding: 0 10px;
    }
    &__input {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid $color-gray-900;
      outline: $color-gray-900;
    }
    &__sendicon {
      padding: 0 10px;
      display: flex;
      align-items: center;
      &__text {
      }
      &__icon {
      }
    }
  }
}
